<h1>商品詳細</h1>

<%= attachment_image_tag(@item, :image_id, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg",size:'40x40') %>
<table>
  <thead>
  <tr><th>商品名</th><td><%= @item.name %></td></tr>
  <tr><th>商品説明</th><td><%= @item.item_introduction %></td></tr>
  <tr><th>ジャンル</th><td><%= @item.genre.name %></td></tr>
  <tr><th>￥</th><td><%= @item.taxin_price.to_s(:delimited) %>円</td></tr>
</table>
<%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.hidden_field :customer_id, :value => current_customer.id %>
<%= f.select :quantity,[[1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6], [7, 7], [8, 8], [9, 9], [10, 10]], {include_blank: '個数選択'} %>
<%= f.submit 'カートに入れる',class: "btn btn-success" %>
<% end %>
<%= link_to "カートを見る", cart_items_path %>