<div class="container">
  <div class="row">
<!--サイドバー-->
    <div class='col-md-2 px-sm-0 my-5 '>
      <%= render "layouts/genre"%>
    </div>
<!--サイドバー-->
    <div class="col-md-4 my-5 offset-md-1">
    <%= attachment_image_tag @item, :image, :fill, 500, 350, class:"icon border", fallback: "no_image.jpg" ,size:'350x300'%>
    </div>
    <div class="col-md-4 text-left pl-5 my-5">
      <h4 class ="font-weight-bold"><%= @item.name %></h4>
      <p><%= @item.item_introduction %></p>
　　　　　<hr class="borderstyle"><br>
       <h5>¥ <%= (@item.price * 1.1).to_i.to_s(:delimited, delimiter: ",") %><small> (税込)</small> </h5><br>
        
        <% if @item.is_active == true %>
          <% if customer_signed_in? %>
            <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
            数量 <%= f.select :quantity,[[1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6], [7, 7], [8, 8], [9, 9], [10, 10]], {include_blank: '個数選択'} %>        <%= f.submit 'カートに入れる',class: "btn btn-success" %>
            <% end %>
          <% else %>
            <%= link_to "商品を購入したい場合はこちらから会員登録をお願いします",new_customer_registration_path %>
          <% end %>
        <% else %>
        <h4 class="text-danger">現在売り切れ</h4>
      <% end %>
    </div>
  </div>
</div>



